<div class="container border-a">
    <div class="row"> 
        <div class="col-sm-2">
            <h3>Workforce</h3>
        </div>
        <div class="col-sm-10">
            <ul class="header-navigation">
               <li> <button type="button" class="button5" routerLink="/list" routerLinkActive="active">Employees</button></li>
               <li><button type="button" class="button6" routerLink="/add" routerLinkActive="active">Add Employee</button></li>
            </ul>
        </div>
    </div>
    
</div>